.title-Folder header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.addf{
    height: 20px;
    width: 20px;
}
.title-Folder header h2 {
    color: #00000099;
    font-size: 12px;
    font-family: estedad;
}
.new-folder-button {
    border: none;
    background: none;
}

.nav-bar-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    align-self: stretch;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    padding: 10px 0px;
  }
